/** @format */
.v-btn {
  display: inline-block;
  color: $primary-color;
  padding: 0 0.7rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
  transition: all 0.2s ease-in;
  line-height: 35px;
  border: 1px solid transparent;
  &.not-allowed {
    cursor: text;
  }
  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
  &.btn-block {
    text-align: center;
  }
  &.btn-sm {
    line-height: 25px;
  }
  &.btn-shadow {
    box-shadow: 1px 1px 2px rgba($dark-color, 0.3);
  }
  span {
    margin-left: 0.5rem;
  }
  &.btn-lg {
    padding: 0.6rem 2rem;
  }
  &.v-btn-base {
    @include set-background($base-color);
    &.invert {
      background-color: transparent;
      color: $dark-color;
      border-color: darken($base-color, 10%);
    }
  }
  &.v-btn-primary {
    @include set-background(darken($primary-color, 5%));
    color: $light-color;
    &.invert {
      background-color: transparent;
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  &.v-btn-secondary {
    @include set-background($secondary-color);
    &.invert {
      background-color: transparent;
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &.v-btn-dark {
    @include set-background($dark-color);
    &.invert {
      background-color: transparent;
      color: $dark-color;
      border-color: $dark-color;
    }
  }
  &.v-btn-light {
    @include set-background($light-color);
    color: $primary-color;
  }
  &.v-btn-success {
    @include set-background($success-color);
  }
  &.v-btn-info {
    @include set-background($info-color);
    color: $light-color;
    &.invert {
      background-color: transparent;
      color: $info-color;
      border-color: $info-color;
    }
  }
  &.v-btn-warning {
    @include set-background($warning-color);
    &.invert {
      background-color: transparent;
      color: $warning-color;
      border-color: $warning-color;
    }
  }
  &.v-btn-danger {
    @include set-background($danger-color);
    color: $light-color;
    &.invert {
      background-color: transparent;
      color: $danger-color;
      border-color: $danger-color;
    }
  }
}

// Icons
.icon {
  height: 25px;
  width: 25px;
  color: rgba($dark-color, 0.3);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  i {
    line-height: 25px;
  }
  .round {
    border-radius: 50%;
  }
  &.icon-xs {
    width: 15px;
    height: 15px;
    i {
      line-height: 15px;
    }
  }
  &.icon-sm {
    width: 25px;
    height: 25px;
    i {
      line-height: 25px;
    }
  }
  &.icon-md {
    width: 35px;
    height: 35px;
    i {
      line-height: 35px;
    }
  }
  &.icon-base {
    @include set-background($base-color);
    &.invert {
      background-color: transparent;
      color: darken($base-color, 10%);
      border-color: darken($base-color, 5%);
    }
  }
  &.icon-primary {
    @include set-background($primary-color);
    color: $light-color;
    &.invert {
      background-color: transparent;
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  &.icon-secondary {
    @include set-background($secondary-color);
    &.invert {
      background-color: transparent;
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &.icon-info {
    @include set-background($info-color);
    &.invert {
      background-color: transparent;
      color: $info-color;
      border-color: $info-color;
    }
  }
  &.icon-success {
    @include set-background($success-color);
    &.invert {
      background-color: transparent;
      color: $success-color;
      border-color: $success-color;
    }
  }
  &.icon-warning {
    @include set-background($warning-color);
    &.invert {
      background-color: transparent;
      color: $warning-color;
      border-color: $warning-color;
    }
  }
  &.icon-danger {
    @include set-background($danger-color);
    &.invert {
      background-color: transparent;
      color: $danger-color;
      border-color: $danger-color;
    }
  }
  &.icon-light {
    @include set-background($light-color);
    &.invert {
      background-color: transparent;
      color: darken($base-color, 10%);
      border-color: darken($base-color, 5%);
    }
  }
  &.icon-dark {
    @include set-background($dark-color);
    &.invert {
      background-color: transparent;
      color: $dark-color;
      border-color: $dark-color;
    }
  }
}

// LOGO
.logo {
  max-width: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  a {
    font-weight: 800;
    font-size: 1rem;
    color: $danger-color;
    span {
      background-color: $danger-color;
      color: $light-color;
      padding: 0.4rem 1rem;
      border-radius: 5px;
    }
  }
}

.or-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  .or {
    background-color: $light-color;
    z-index: 12;
    padding: 0 1rem;
  }
  &:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: rgba($primary-color, 0.2);
    width: 100%;
    top: 13px;
  }
}

.round {
  &-xs {
    border-radius: 3px;
  }
  &-sm {
    border-radius: 5px;
  }
  &-md {
    border-radius: 10px;
  }
  &-full {
    border-radius: 50%;
  }
}

.avtar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-xs {
    width: 30px;
    height: 30px;
  }
  &-sm {
    width: 40px;
    height: 40px;
  }
  &-md {
    width: 60px;
    height: 60px;
  }
  &-lg {
    width: 80px;
    height: 80px;
  }
}

.user-icon {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
  &.user-icon-xxs {
    width: 30px;
    height: 30px;
  }
  &.user-icon-xs {
    width: 35px;
    height: 35px;
  }
  &.user-icon-sm {
    width: 40px;
    height: 40px;
  }
  &.user-icon-md {
    width: 50px;
    height: 50px;
  }
  &.user-icon-lg {
    width: 60px;
    height: 60px;
  }
}

.img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &.round {
    border-radius: 50%;
  }
  &.img-sm {
    width: 40px;
    height: 40px;
  }
  &.img-md {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 576px) {
    &.img-md {
      width: 60px;
      height: 60px;
    }
  }
}

.block {
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid rgba($dark-color, 0.1);
  overflow: hidden;
  @include set-background($light-color);
  &.of-hidden {
    overflow: hidden;
  }
  &.base {
    @include set-background($base-color);
    border: 1px solid darken($base-color, 4%);
  }
  &.transparent {
    background-color: transparent;
  }
  &.primary {
    background-color: $primary-color;
    .main-heading,
    .main-title {
      color: $light-color;
    }
    .sub-heading,
    p {
      color: rgba($light-color, 0.8);
    }
  }
  &.secondary {
    @include set-background($secondary-color);
    .main-heading,
    .main-title {
      color: $light-color;
    }
    .sub-heading,
    p {
      color: rgba($light-color, 0.8);
    }
  }
  &.light {
    @include set-background($light-color);
  }
  &.dark {
    @include set-background($dark-color);
  }
  &.no-padding {
    .header,
    .content,
    .footer {
      padding: 0.5rem 0;
    }
  }
  &.no-border {
    border: 0;
  }
  .header,
  .content,
  .footer {
    padding: 1rem;
  }

  .header {
    padding-bottom: 0;
    font-weight: 400;
  }
  .content {
    font-size: 0.9rem;
  }
}

// CARDS
.card {
  &.no-border {
    border: 0;
  }
  &.user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    .user-content {
      display: flex;
      align-items: center;
      .user-info {
        flex: 1;
        h4 {
          font-size: font-size(xs);
          font-weight: font-weight(medium);
          margin-bottom: 0.2rem;
        }
        p {
          font-size: font-size(xxs);
          color: $dark-color;
          font-weight: font-weight(regular);
          margin-bottom: 0;
        }
      }
    }
    .rating-price {
      flex: 1;
      text-align: right;
      padding-left: 10px;
      color: $dark-color;
    }
  }
  .card-title {
    font-weight: font-weight(bold);
    font-size: font-size(sm);
    color: $primary-color;
  }
}

.list-group {
  .list-group-item {
    border: 0;
    border-bottom: 1px solid rgba($dark-color, 0.1);

    &:last-child {
      border: 0;
    }
  }
}

// BUTTON CHECK
.btn-check {
  display: inline-block;
  input {
    display: none;
    &:checked + label {
      &.checked-primary {
        background-color: $primary-color;
        color: $light-color;
      }
      &.checked-secondary {
        background-color: $secondary-color;
        color: $light-color;
      }
      &.checked-warning {
        background-color: $warning-color;
        color: $light-color;
      }
    }
  }
}

// ACCORDION
.accordion {
  .card {
    border-radius: 0;
    border: 0;
    border-top: 1px solid rgba($dark-color, 0.1);
    border-bottom: 1px solid rgba($dark-color, 0.1);
    &:first-child {
      border-top: 0;
    }
    .card-header {
      border-bottom: 0;
      background-color: transparent;
      padding: 0;
      a {
        position: relative;
        display: block;
        padding: 1rem 0;
        font-size: font-size(sm);
        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f068";
          font-weight: font-weight(black);
          font-size: font-size(xs);
          right: 10px;
          top: 15px;
          position: absolute;
        }
        &.collapsed {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f067";
            font-weight: font-weight(black);
            font-size: font-size(xs);
            position: absolute;
            right: 10px;
            top: 15px;
          }
        }
      }
    }
    .card-body {
      padding: 0 0 1rem 0;
      font-size: font-size(xs);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.style-3::-webkit-scrollbar-track {
  border-radius: 20px;
}

.style-3::-webkit-scrollbar {
  width: 6px;

  background-color: transparent;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: rgba($light-color, 0.6);
  border-radius: 20px;
}

.style-4::-webkit-scrollbar-track {
  background-color: rgba($dark-color, 0.1);
  border-radius: 20px;
}

.style-4::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

.style-4::-webkit-scrollbar-thumb {
  background-color: rgba($light-color, 0.6);
  border-radius: 20px;
}
