/** @format */

label {
  color: $dark-color;
  font-weight: 600;
  font-size: 0.8rem;
}
.form-control {
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: none;
  height: 35px;
  border-color: rgba($dark-color, 0.1);
  border-radius: 3px;
  &.error{
    border-color:$danger-color;
  }
  &:focus{outline: none; box-shadow: none;}
  
  // &:focus {
  //   box-shadow: none;
  //   outline: none;
  //   border-color: $secondary-color;;
  // }
  &::placeholder {
    color: rgba($dark-color, 0.5);
    font-weight: normal;
    font-weight: 600;
  }
}

.adon-group {
  display: flex;
  border: 1px solid rgba($dark-color, 0.1);
  border-radius: 3px;
  overflow: hidden;
  &.error{
    border:1px solid $danger-color;
  }
 
  .form-control,
  .v-btn,
  .icon {
    border: 0;
    border-radius: 0;
    height: 35px;
  }
}
