// APP NAVBAR
.app-navbar {
  background-color: $base-color;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  &.light-navbar {
    background-color: $light-color;
    box-shadow: 0 2px 8px #0000001a;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .nav-list {
    // transform: translateX(0);
    display: flex;
  }
  .inner-container {
    display: flex;
    justify-content: flex-end;
    .hamburger {
      // display: none;
      cursor: pointer;
      position: relative;
      z-index: 1040;
      color: $primary-color;
      font-size: 1.5rem;
      line-height: 60px;
      // @media (max-width: 992px) {
      //   &.hamburger {
      //     display: block;
      //   }
      // }
    }
    .nav-list {
      align-items: center;
      display: none;
      .nav-item {
        margin-right: 1.5rem;
        a {
          display: flex;
          align-items: center;
          color: rgba($primary-color, 0.8);
          font-weight: font-weight(medium);
          padding: 1rem 0 0.8rem;
          display: inline-block;
          border-bottom: 2px solid transparent;
          &.active,
          &:hover {
            color: $primary-color;
          }
          &.active {
            border-color: darken($primary-color, 5%);
          }
          &:last-child {
            margin-right: 0;
          }
        }
        img {
          width: 16px;
          margin-right: 10px;
        }
      }
      @media (max-width: 992px) {
        &.nav-list {
          position: fixed;
          transition: all 0.2s ease-out;
          display: none;
          right: 0;
          flex-direction: column;
          background-color: $light-color;
          top: 0px;
          bottom: 0;
          width: 100%;
          z-index: 1024;
          padding: 4rem 3rem 1rem 3rem;
          li {
            width: 100%;
            text-align: center;
            a {
              color: $primary-color;
              text-align: center;
              border-bottom: 2px solid transparent;
              &:hover {
                border-color: rgba($primary-color, 0.1);
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

// APP HEADER
.app-header {
  background-color: $base-color;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  .content {
    padding: 2rem 0 1rem 3rem;
    p {
      margin-bottom: 4rem;
    }
  }
  .app-store {
    display: flex;
    a {
      max-width: 200px;
      display: block;
      &:first-child {
        margin-right: 1rem;
      }
    }
    &.app-store-btn-fixed-top {
      position: fixed;
      top: 0;
      margin-top: 0;
      max-width: 260px;
      height: 60px;
      z-index: 11;
      padding-top: 0;
      transition: all 0.2s ease-out;
      a {
        line-height: 60px;
        display: flex;
        align-items: center;
      }
    }
  }
  .mockup-image {
    margin: 0 auto;
    max-width: 400px;
  }
  @media (max-width: 992px) {
    &.app-header {
      padding: 2rem 0rem;
      .logo {
        max-width: 200px;
      }
      .content {
        padding-left: 0;
      }
      .mockup-image {
        &.add-p {
          padding-top: 52px;
        }
      }
    }
    // .app-store-btn-fixed-top ~ .mockup-image {
    //   padding-top: 80px;
    // }
  }
}

.page-title {
  padding: 2rem 0;
  .title {
    color: $primary-color;
    font-size: font-size(xl);
    font-weight: font-weight(bold);
  }
}

// PAGE:VENDOR
main {
  &.main-content {
    padding: 0 0 2rem 0;
  }
  &.page-vendor {
    padding-top: 100px;
  }
  @media (max-width: 576px) {
    &.main-content {
      padding-top: 0px;
    }
  }
}
