<!-- FOOTERS -->
<footer class="section-wrap app-footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-links">
                    <a href="/terms-conditions" class="ft-xs">Algemene voorwaarden</a><br>
                    <a href="/disclaimer-web" class="ft-xs">Disclaimer Site</a><br>
                    <a href="/privacyverklaring" class="ft-xs">Privacyverklaring</a> 
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="social-icons">
                    <a href="{{site.business_whatsapp_url}}" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="We reageren van ma t/m za tussen 09:00 - 21:00" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                    <a href="mailto:{{site.email}}" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="We reageren van ma t/m za tussen 09:00 - 21:00"  class="email"><i class="fa fa-envelope"></i></a>
                    <a href="{{site.facebook_url}}" target="_blank" rel="noopener noreferrer" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="{{site.twitter_url}}" target="_blank" rel="noopener noreferrer" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="{{site.linkedin_company_url}}" target="_blank" rel="noopener noreferrer" class="linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="{{site.instagram_url}}" target="_blank" rel="noopener noreferrer" class="instagram"><i class="fab fa-instagram"></i></a>
                </div>
                <p class="ft-dark text-center">
                    <span>&copy; {{ site.time | date: '%Y' }} <a href="/" class="ft-primary fw-bold">Local Heroes</a></span></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    mixpanel.track_links("#contact a", "Click footer link", {
        "referrer": document.referrer
    });
</script>

{% for path in site.data.assets.js %}    

  {%- if path contains '://' -%}
    {%- assign src = path -%}
  {%- else -%}
    {%- assign src = path | relative_url -%}
  {%- endif -%}

  <script src="{{ src }}" type="text/javascript"></script>
{% endfor %}