<!-- FOOTERS -->
<footer class="section-wrap section-footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-mobile-block">
                    <img src="assets/fotter_mobile.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-7">
                <div class="logo footer-logo">
                    <img src="assets/logo.png" class="img-fluid" alt="">
                </div>
                <div class="footer-content">
                    <h4 class="main-heading">Bestel het <span class="fw-bold ft-danger">beste</span> uit de buurt</h4>
                </div>
                <div class="footer-app-store">
                    <!-- <a href=""><img src="assets/google-store.png" class="img-fluid" alt=""></a>
                    <a href=""><img src="assets/app-store.png" class="img-fluid" alt=""></a> -->

                        <a href="#" class="v-btn v-btn-danger btn-lg"><span class="ft-sm mr-2"><i class="fas fa-download"></i></span> Downalod
                            App</a>
                </div>
                <div class="row">
                    <div class="col-md-9">
                            <div class="additional-info">
                            <h4 class="fw-bold mb-2 ft-primary">Boodschappen doen via Local Heroes is een win-win-win.</h4>
                            <ul class="">
                                <li>
                                    <img src="assets/icons/save_time.png" alt="">
                                    <p>Steun lokale ondernemers Altijd verse en lekkere</p>
                                </li>
                                <li>
                                    <img src="assets/icons/fresh_produce.png" alt="">
                                    <p>Bespaar tijd, geld én moeite</p>
                                </li>
                                <li>
                                    <img src="assets/icons/support_entrepreneurs.png" alt="">
                                    <p>Bespaar tijd, geld én moeite</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                            <div class="additional-info">
                            <h4 class="fw-bold mb-2 ft-primary">We bezorgen je boodschappen:</h4>
                            <ul class="">
                                <li>
                                    Ma t/m za tussen  12:00 - 14:00 &
                                </li>
                                <li>
                                    Ma t/m vr tussen 17:00 - 20:00
                                </li>
                                <li>
                                    Vandaag bestellen vóór 15:00 is vandaag in huis!
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="social-icons">
                    <a href="#"  data-toggle="tooltip" data-placement="top" title="We reageren van ma t/m za tussen 09:00 - 21:00" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="We reageren van ma t/m za tussen 09:00 - 21:00"  class="email"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-center foooter-line mt-5">
                    <a href="/terms-conditions" target="_blank" class="">Algemene voorwaarden</a> |
                    <a href="/disclaimer-web" target="_blank" class="">Disclaimer Site</a> |
                    
                    <a href="/privacyverklaring" target="_blank" class="">Privacyverklaring</a>
                </p>
            </div>
        </div>
    </div>
</footer>