<!-- NAVBAR -->
<div class="app-navbar">
    <div class="container">
        <div class="inner-container"> 
            <div class="app-download-btn">
                <a href="" onclick="DetectAndServe('{{page.name}}')" class="v-btn v-btn-danger fw-bold mt-2"><i class="fa fa-download"></i> <span>Download nu de
                        app</span></a>
            </div>
            <input type="checkbox" id="check">
            <ul class="nav-list">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}#hoe-werkt-het">Hoe werkt het</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}#over-ons">Over ons</a></li>                
                <li class="nav-item"><a href="/{{site.baseurl}}#onze-heroes">Onze Heroes</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}#contact">Contact</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}ik_ben_ondernemer.html">Ondernemer</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}ik_ben_beleidsmaker.html">Beleidsmaker</a></li>
                <li class="nav-item"><a href="/{{site.baseurl}}faq.html">FAQ</a></li>
                <!-- <li class="nav-item"><a href="/{{site.baseurl}}blog.html">Blog</a></li> -->
            </ul>
            <label for="check" class="hamburger">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </div>
</div>