<!-- HUB LOCATION -->
<section id="onze-heroes" class="section-wrap section-our-heroes">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h2 class="main-heading ft-primary text-center mb-4">{{ page.hub_location_name }}</h2>
                <p>Welkom op deze Local Heroes locatie in {{ page.hub_location_city }}</p>
                <p>{{ page.hub_location_address }}</p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-6">
				<div class="embed-responsive embed-responsive-4by3 d-flex p-2">
					<iframe class="embed-responsive-item" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ page.hub_location_latitude }},{{ page.hub_location_longitude }}&hl=nl&z=15&output=embed"></iframe>
				</div>
            </div>
        </div>

		<div class="row">
			&nbsp;
			&nbsp;
			&nbsp;
		</div>

        <div class="row">
            <div class="col-md-12">
                <div class="slick-carousel heroes-wapper" id="vendor-carousel">
                    <!-- Inside the containing div, add one div for each slide -->
                    {% for hub_location in site.data.hub_location_vendors %}
                        {% for vendor in site.data.vendors %}
                            <!-- Add vendors to the carrousel if they are part of the selected hub_location -->
                            {% if hub_location.hub_location_id ==  page.hub_location_id and vendor.vendor_id == hub_location.vendor_id %}
                                <div class="slide-item">
                                    <!-- You can put an image or text inside each slide div -->
                                    <div class="hero-img">
                                        <a href="{{ site.url }}/{{ vendor.vendor_permalink }}"><img src="{{ site.cloudimg }}_prod_/vendor-profile/{{ vendor.vendor_image }}?width=300" alt="{{ vendor.vendor_shop_name }} - {{ vendor.vendor_category_name }}"></a>
                                    </div>
                                    <div class="content text-center">
                                        <h2 class="ft-secondary ft-xs">{{ vendor.vendor_shop_name }}</h2>
                                        <h3 class="ft-xs ft-base">{{ vendor.vendor_category_name }}</h3>
                                    </div>
                                    <a href="{{ site.url }}/{{ vendor.vendor_permalink }}" class="v-btn v-btn-acent btn-md fw-bold">Toon assortiment</a>
                                </div>
                            {% endif %}        
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    mixpanel.track_links("#vendor-carousel a", "Click vendor link", {
        "User agent": navigator.userAgent,
        "referrer": document.referrer
    });
</script>
<!-- UNIQUE SELLING POINTS -->
<section class="section-wrap features skin-base">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-content">
                    <div class="logo">
                        <img src="{{ site.image_url }}/assets/home/logo.png?width=200" class="img-fluid" alt="Local Heroes logo">
                    </div>
                    <div class="additional-info">
                        <h2 class="fw-bold mb-2 ft-primary">Boodschappen doen via Local Heroes is een win-win-win.</h2>
                        <ul class="">
                            <li>
                                <img src="{{ site.image_url }}/assets/home/check-icon.png?width=20" alt="Steun lokale ondernemers">
                                <h3>Steun lokale ondernemers</h3>
                            </li>
                            <li>
                                <img src="{{ site.image_url }}/assets/home/check-icon.png?width=20" alt="Altijd verse en lekkere producten van de markt in huis">
                                <h3>Verse ambachtelijke producten uit de buurt</h3>
                            </li>
                            <li>
                                <img src="{{ site.image_url }}/assets/home/check-icon.png?width=20" alt="Bespaar tijd, geld én moeite">
                                <h3>Bespaar tijd, geld én moeite</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-mob">
        <img src="{{ site.image_url }}/assets/mockup_footer.png?width=360" class="img-fluid" alt="Bakkerij Straathof">
    </div>
</section>