<!-- NAVBAR -->
<div class="app-navbar fixed fixed-tlr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-container">
                    <div class="app-navbar-left back-link">
                        <a href="" id="back-link" class="ft-primary">
                            <i class="fa fa-chevron-left"></i>
                            <span class="d-none d-sm-inline">Terug</span></a>
                    </div>
                    <div class="rating-vote d-flex d-md-none">
                        <div class="rating ft-primary">
                            <span><i class="fa fa-thumbs-up"></i></span>
                            100%
                        </div>
                        <div class="vote">
                            2 Stemmen
                        </div>   
                    </div>
                    <input type="checkbox" id="check">
                    <ul class="app-navbar-right nav-list">
                        <li class="nav-item"><a class="active" href="{{ site.url }}#">Home</a></li>
                        <li class="nav-item"><a href="{{ site.url }}#hoe-werkt-het">Hoe werkt het</a></li>
                        <li class="nav-item"><a href="{{ site.url }}#over-ons">Over ons</a></li>
                        <li class="nav-item"><a href="{{ site.url }}#onze-heroes">Onze Heroes</a></li>
                        <li class="nav-item"><a href="{{ site.url }}#contact">Contact</a></li>
                        <li class="nav-item"><a href="ik_ben_ondernemer.html">Ondernemer</a></li>
                        <li class="nav-item"><a href="ik_ben_beleidsmaker.html">Beleidsmaker</a></li>
                        <li class="nav-item"><a href="faq.html">FAQ</a></li>
                    </ul>
                    <label for="check" class="hamburger">
                        <i class="fa fa-bars"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>