
// PAGE: B2B
.page-b2b {
    .b2b-section {
      padding: 5rem 0;
    }
    .b2b-section-title {
      font-weight: font-weight(bold);
      font-size: font-size(xl);
      margin-bottom: 1.4rem;
    }
    p {
      font-size: font-size(xs);
    }
    .b2b-header {
      height: 450px;
      padding-top: 1rem;
      .content {
        padding-left: 4.5rem;
        padding-right: 2rem;
      }
    }
    .increase-sales {
      .card-group-img {
        max-width: 380px;
      }
    }
    .more-customers {
      .map-marker-group-img {
        max-width: 320px;
        margin: 0 auto;
      }
    }
    .fast-delivery {
      position: relative;
      height: 685px;
      .content {
        max-width: 400px;
        margin: 0 auto;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(https://axajvrynho.cloudimg.io/v7/https://www.localheroesonline.com/assets/b2b/localheroes-bg.png);
      }
    }
    .b2b-how-work {
      .b2b-hw-block {
        max-width: 300px;
        margin: 1rem auto;
        text-align: center;
        img {
          width: 100px;
        }
        h4 {
          font-weight: font-weight(bold);
          margin-bottom: 1rem;
          color: $primary-color;
        }
        p {
          font-size: font-size(xs);
          color: $primary-color;
        }
      }
    }
    .marketing-together {
      height: 520px;
      .flyer-img {
        max-width: 500px;
      }
    }
    .registration {
      .vendor-img{
        max-width: 250px;
        margin: 1rem auto;
        text-align: center;
        p {
          font-size: font-size(xs);
        }
      }
    }
    @media (max-width: 767px) {
      &.page-b2b {
        .b2b-section {
          padding: 2rem 0;
        }
        .b2b-header {
          height: auto;
          .content {
            padding: 0;
          }
        }
        .increase-sales {
          .card-group-img {
            margin-top: 1rem;
          }
        }
        .more-customers {
          .map-marker-group-img {
            margin-top: 2rem;
            max-width: 200px;
          }
        }
        .fast-delivery {
          &::before {
            background-position: 90%;
          }
        }
        .marketing-together {
          height: auto;
          .flyer-img {
            max-width: 300px;
            margin: 2rem auto;
          }
        }
      }
    }
  }