
// PAGE: BLOG
.blog-wrap {
    .blog-item {
      display: flex;
      padding: 1.4rem 0;
      border-bottom: 1px solid rgba($dark-color, 0.2);
      &:last-child {
        border-bottom: 0;
      }
      .blog-img {
        width: 200px;
        border: 1px solid $base-color;
        margin-right: 1rem;
        height: 200px;
      }
      .blog-content {
        flex: 1;
        .written-by {
          font-size: font-size(xs);
          color: $dark-color;
        }
        .blog-title {
          font-weight: font-weight(bold);
          font-size: font-size(md);
          color: $primary-color;
        }
        p {
          font-size: font-size(xs);
          color: $dark-color;
          font-weight: font-weight(regular);
          color: rgba($dark-color, 0.5);
          margin-bottom: 1rem;
        }
      }
    }
  
    @media (max-width: 576px) {
      &.blog-wrap {
        .blog-item {
          .blog-img {
            width: 100px;
            height: 100px;
          }
          .written-by {
            font-size: font-size(xs);
          }
          .blog-title {
            font-weight: font-weight(bold);
            font-size: font-size(sm);
          }
          p {
            font-size: font-size(xxs);
          }
        }
      }
    }
  }
  
  .search-category {
    display: flex;
    li {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
  