/** * @format */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** @format */
h2.main-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #006068;
}

@media (max-width: 576px) {
  h2.main-heading {
    font-size: 1.7rem;
  }
}

/** @format */
.vendor-heading {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: #006068;
  line-height: 40px;
}

@media (max-width: 576px) {
  .vendor-heading {
    font-size: 1.5rem;
  }
}

.sub-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #00da9a;
}

@media (max-width: 576px) {
  .sub-heading {
    font-size: 1rem;
  }
}

.main-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .main-title {
    font-size: 0.9rem;
  }
}

.sub-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .sub-title {
    font-size: 0.8rem;
  }
}

.lead {
  font-size: 0.9rem;
  color: #00da9a;
  font-weight: 400;
}
.app-navbar {
  background-color: #f1edea;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

.app-navbar.light-navbar {
  background-color: #fff;
  box-shadow: 0 2px 8px #0000001a;
}

.app-navbar input[type="checkbox"] {
  display: none;
}

.app-navbar input[type="checkbox"]:checked ~ .nav-list {
  display: flex;
}

.app-navbar .inner-container {
  display: flex;
  justify-content: space-between;
}

.app-navbar .inner-container .app-download-btn {
  visibility: hidden;
  line-height: 60px;
}

.app-navbar .inner-container .app-download-btn.show-btn {
  visibility: visible;
}

.app-navbar .inner-container .hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1040;
  color: #006068;
  font-size: 1.5rem;
  line-height: 60px;
}

@media (max-width: 992px) {
  .app-navbar .inner-container .hamburger.hamburger {
    display: block;
  }
}

.app-navbar .inner-container .nav-list {
  align-items: center;
  margin-left: auto;
  display: flex;
}

.app-navbar .inner-container .nav-list .nav-item {
  margin-right: 1.5rem;
}

.app-navbar .inner-container .nav-list .nav-item a {
  display: flex;
  align-items: center;
  color: rgba(0, 96, 104, 0.8);
  font-weight: 500;
  padding: 1rem 0 0.8rem;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.app-navbar .inner-container .nav-list .nav-item a.active, .app-navbar .inner-container .nav-list .nav-item a:hover {
  color: #006068;
}

.app-navbar .inner-container .nav-list .nav-item a.active {
  border-color: #00484f;
}

.app-navbar .inner-container .nav-list .nav-item a:last-child {
  margin-right: 0;
}

.app-navbar .inner-container .nav-list .nav-item img {
  width: 16px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .app-navbar .inner-container .nav-list.nav-list {
    position: fixed;
    transition: all 0.2s ease-out;
    display: none;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    top: 0px;
    bottom: 0;
    width: 100%;
    z-index: 1024;
    padding: 4rem 3rem 1rem 3rem;
  }
  .app-navbar .inner-container .nav-list.nav-list li {
    width: 100%;
    text-align: center;
  }
  .app-navbar .inner-container .nav-list.nav-list li a {
    color: #006068;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
  .app-navbar .inner-container .nav-list.nav-list li a:hover {
    border-color: rgba(0, 96, 104, 0.1);
    background-color: transparent;
  }
}

.page-title {
  padding: 2rem 0;
}

.page-title .title {
  color: #006068;
  font-size: 2rem;
  font-weight: 700;
}

main.main-content {
  padding: 0 0 2rem 0;
}

main.page-vendor {
  padding-top: 100px;
}

@media (max-width: 576px) {
  main.main-content {
    padding-top: 0px;
  }
}

/** @format */
label {
  color: #525252;
  font-weight: 600;
  font-size: 0.8rem;
}

.form-control {
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: none;
  height: 35px;
  border-color: rgba(82, 82, 82, 0.1);
  border-radius: 3px;
}

.form-control.error {
  border-color: #ff4934;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control::placeholder {
  color: rgba(82, 82, 82, 0.5);
  font-weight: normal;
  font-weight: 600;
}

.adon-group {
  display: flex;
  border: 1px solid rgba(82, 82, 82, 0.1);
  border-radius: 3px;
  overflow: hidden;
}

.adon-group.error {
  border: 1px solid #ff4934;
}

.adon-group .form-control,
.adon-group .v-btn,
.adon-group .icon {
  border: 0;
  border-radius: 0;
  height: 35px;
}

/** @format */
.table,
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  background-color: transparent;
}

.table th,
.table td,
table th,
table td {
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #525252;
  vertical-align: middle;
  background-color: transparent;
}

.table thead th,
table thead th {
  font-weight: 600;
  color: #525252;
  border: 0;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
}

.table tbody tr:hover,
table tbody tr:hover {
  background-color: #f1edea;
}

.table-light {
  background-color: #fff;
}

.table-light th,
.table-light td {
  white-space: nowrap;
}

.table-default thead th {
  background-color: #f1edea;
}

.table-default tbody tr th {
  font-weight: 500;
}

.table-primary thead th {
  background-color: #006068;
  color: #fff;
}

.table-secondary thead th {
  background-color: #00da9a;
  color: #fff;
}

/** @format */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 1px;
  height: 100%;
  scroll-behavior: smooth;
}

body.overlay {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff4934;
  text-decoration: none;
}

a.active {
  font-weight: 500;
  color: #006068;
}

a.link-light {
  color: #f1edea;
}

ul {
  list-style: none;
}

ul.type {
  margin-left: 1rem;
}

ul.type.disc {
  list-style-type: disc;
}

ul li {
  font-size: 0.9rem;
}

p {
  font-size: 0.9rem;
}

img {
  width: 100%;
}

img-round {
  border-radius: 50%;
}

.postion-fixed {
  position: fixed;
}

.postion-fixed.top {
  left: 0;
  right: 0;
  top: 0;
}

.postion-fixed.left {
  left: 0;
  top: 0;
  bottom: 0;
}

.postion-fixed.left {
  right: 0;
  top: 0;
  bottom: 0;
}

.postion-fixed.top-left {
  top: 0;
  left: 0;
}

.postion-fixed.top-right {
  top: 0;
  right: 0;
}

.postion-fixed.bottom-left {
  bottom: 0;
  left: 0;
}

.postion-fixed.bottom-right {
  bottom: 0;
  right: 0;
}

.animate.bounce {
  animation: bounce 1s infinite alternate;
}

.dropdown-toggle.no-cret::after {
  display: none;
}

.ft-capitalize {
  text-transform: capitalize;
}

.ft-uppercase {
  text-transform: uppercase;
}

.ft-lower {
  text-transform: lowercase;
}

.ft-xxs {
  font-size: 0.8rem;
}

.ft-xs {
  font-size: 0.9rem;
}

.ft-sm {
  font-size: 1rem;
}

.ft-md {
  font-size: 1.3rem;
}

.ft-lg {
  font-size: 1.6rem;
}

.ft-xl {
  font-size: 2rem;
}

.ft-xxl {
  font-size: 2.5rem;
}

.fw-light {
  font-weight: 200;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 800;
}

.ft-base {
  color: #f1edea !important;
}

.ft-acent {
  color: #ffcffa !important;
}
.ft-primary {
  color: #006068 !important;
}

.ft-secondary {
  color: #00da9a !important;
}

.ft-warning {
  color: #f9bb01 !important;
}

.ft-info {
  color: #0c67ff !important;
}

.ft-danger {
  color: #ff4934 !important;
}

.ft-success {
  color: #33a852 !important;
}

.ft-dark {
  color: #525252 !important;
}

.ft-light {
  color: #fff !important;
}

.ft-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  margin: 1rem 0;
}

hr.primary {
  border-color: #006068;
}

hr.base {
  border-color: #f1edea;
}

.skin-primary {
  background-color: #006068;
  color: #fff;
}

.skin-secondary {
  background-color: #00da9a;
  color: #fff;
}

.skin-light {
  background-color: #fff;
  color: #525252;
}

.skin-dark {
  background-color: #525252;
  color: #fff;
}

.skin-base {
  background-color: #f1edea;
  color: #525252;
}

.skin-success {
  background-color: #33a852;
  color: #fff;
}

.skin-danger {
  background-color: #ff4934;
  color: #525252;
}

.bg-img-box {
  position: relative;
}

.bg-img-box .bg-img,
.bg-img-box .bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-img-box .bg-img {
  background-size: cover;
  background-position: 75% 95%;
  background-repeat: no-repeat;
  z-index: 1;
}

.bg-img-box .bg-overlay {
  z-index: 2;
}

.bg-img-box .bg-overlay.bg-overlay-light {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-img-box .bg-overlay.bg-overlay-dark {
  background-color: #000;
  opacity: 0.6;
}

/** @format */
.v-btn {
  display: inline-block;
  color: #006068;
  padding: 0 1rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: 30px;
  outline: none;
  transition: all 0.2s ease-in;
  line-height: 35px;
  border: 1px solid transparent;
}

.v-btn.not-allowed {
  cursor: text;
}

.v-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.v-btn:focus {
  outline: none;
}

.v-btn:hover {
  text-decoration: none;
}

.v-btn.btn-block {
  text-align: center;
}

.v-btn.btn-sm {
  line-height: 25px;
}

.v-btn.btn-shadow {
  box-shadow: 1px 1px 2px rgba(82, 82, 82, 0.3);
}

.v-btn span {
  margin-left: 0.5rem;
}

.v-btn.btn-lg {
  padding: 0.6rem 2rem;
}

.v-btn.v-btn-acent {
  background-color: #ffcffa;
  color: #525252;
  color: #006068;
}

.v-btn.v-btn-acent.invert {
  background-color: transparent;
  color: #525252;
  border-color: #ddd3cb;
}

.v-btn.v-btn-base {
  background-color: #f1edea;
  color: #525252;
}

.v-btn.v-btn-base.invert {
  background-color: transparent;
  color: #525252;
  border-color: #ddd3cb;
}

.v-btn.v-btn-primary {
  background-color: #00484f;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-primary.invert {
  background-color: transparent;
  color: #006068;
  border-color: #006068;
}

.v-btn.v-btn-secondary {
  background-color: #00da9a;
  color: #fff;
}

.v-btn.v-btn-secondary.invert {
  background-color: transparent;
  color: #00da9a;
  border-color: #00da9a;
}

.v-btn.v-btn-dark {
  background-color: #525252;
  color: #fff;
}

.v-btn.v-btn-dark.invert {
  background-color: transparent;
  color: #525252;
  border-color: #525252;
}

.v-btn.v-btn-light {
  background-color: #fff;
  color: #525252;
  color: #006068;
}

.v-btn.v-btn-success {
  background-color: #33a852;
  color: #fff;
}

.v-btn.v-btn-info {
  background-color: #0c67ff;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-info.invert {
  background-color: transparent;
  color: #0c67ff;
  border-color: #0c67ff;
}

.v-btn.v-btn-warning {
  background-color: #f9bb01;
  color: #fff;
}

.v-btn.v-btn-warning.invert {
  background-color: transparent;
  color: #f9bb01;
  border-color: #f9bb01;
}

.v-btn.v-btn-danger {
  background-color: #ff4934;
  color: #525252;
  color: #fff;
}

.v-btn.v-btn-danger.invert {
  background-color: transparent;
  color: #ff4934;
  border-color: #ff4934;
}

.icon {
  height: 25px;
  width: 25px;
  color: rgba(82, 82, 82, 0.3);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
}

.icon i {
  line-height: 25px;
}

.icon .round {
  border-radius: 50%;
}

.icon.icon-xs {
  width: 15px;
  height: 15px;
}

.icon.icon-xs i {
  line-height: 15px;
}

.icon.icon-sm {
  width: 25px;
  height: 25px;
}

.icon.icon-sm i {
  line-height: 25px;
}

.icon.icon-md {
  width: 35px;
  height: 35px;
}

.icon.icon-md i {
  line-height: 35px;
}

.icon.icon-base {
  background-color: #f1edea;
  color: #525252;
}

.icon.icon-base.invert {
  background-color: transparent;
  color: #ddd3cb;
  border-color: #e7e0db;
}

.icon.icon-primary {
  background-color: #006068;
  color: #fff;
  color: #fff;
}

.icon.icon-primary.invert {
  background-color: transparent;
  color: #006068;
  border-color: #006068;
}

.icon.icon-secondary {
  background-color: #00da9a;
  color: #fff;
}

.icon.icon-secondary.invert {
  background-color: transparent;
  color: #00da9a;
  border-color: #00da9a;
}

.icon.icon-info {
  background-color: #0c67ff;
  color: #fff;
}

.icon.icon-info.invert {
  background-color: transparent;
  color: #0c67ff;
  border-color: #0c67ff;
}

.icon.icon-success {
  background-color: #33a852;
  color: #fff;
}

.icon.icon-success.invert {
  background-color: transparent;
  color: #33a852;
  border-color: #33a852;
}

.icon.icon-warning {
  background-color: #f9bb01;
  color: #fff;
}

.icon.icon-warning.invert {
  background-color: transparent;
  color: #f9bb01;
  border-color: #f9bb01;
}

.icon.icon-danger {
  background-color: #ff4934;
  color: #525252;
}

.icon.icon-danger.invert {
  background-color: transparent;
  color: #ff4934;
  border-color: #ff4934;
}

.icon.icon-light {
  background-color: #fff;
  color: #525252;
}

.icon.icon-light.invert {
  background-color: transparent;
  color: #ddd3cb;
  border-color: #e7e0db;
}

.icon.icon-dark {
  background-color: #525252;
  color: #fff;
}

.icon.icon-dark.invert {
  background-color: transparent;
  color: #525252;
  border-color: #525252;
}

.logo {
  max-width: 300px;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo a {
  font-weight: 800;
  font-size: 1rem;
  color: #ff4934;
}

.logo a span {
  background-color: #ff4934;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}

.or-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.or-line .or {
  background-color: #fff;
  z-index: 12;
  padding: 0 1rem;
}

.or-line:before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: rgba(0, 96, 104, 0.2);
  width: 100%;
  top: 13px;
}

.round-xs {
  border-radius: 3px;
}

.round-sm {
  border-radius: 5px;
}

.round-md {
  border-radius: 10px;
}

.round-full {
  border-radius: 50%;
}

.avtar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avtar-xs {
  width: 30px;
  height: 30px;
}

.avtar-sm {
  width: 40px;
  height: 40px;
}

.avtar-md {
  width: 60px;
  height: 60px;
}

.avtar-lg {
  width: 80px;
  height: 80px;
}

.user-icon {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
}

.user-icon.user-icon-xxs {
  width: 30px;
  height: 30px;
}

.user-icon.user-icon-xs {
  width: 35px;
  height: 35px;
}

.user-icon.user-icon-sm {
  width: 40px;
  height: 40px;
}

.user-icon.user-icon-md {
  width: 50px;
  height: 50px;
}

.user-icon.user-icon-lg {
  width: 60px;
  height: 60px;
}

.img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-block.round {
  border-radius: 50%;
}

.img-block.img-sm {
  width: 40px;
  height: 40px;
}

.img-block.img-md {
  width: 100px;
  height: 100px;
}

@media (max-width: 576px) {
  .img-block.img-md {
    width: 60px;
    height: 60px;
  }
}

.block {
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(82, 82, 82, 0.1);
  overflow: hidden;
  background-color: #fff;
  color: #525252;
}

.block.of-hidden {
  overflow: hidden;
}

.block.base {
  background-color: #f1edea;
  color: #525252;
  border: 1px solid #e9e3de;
}

.block.transparent {
  background-color: transparent;
}

.block.primary {
  background-color: #006068;
}

.block.primary .main-heading,
.block.primary .main-title {
  color: #fff;
}

.block.primary .sub-heading,
.block.primary p {
  color: rgba(255, 255, 255, 0.8);
}

.block.secondary {
  background-color: #00da9a;
  color: #fff;
}

.block.secondary .main-heading,
.block.secondary .main-title {
  color: #fff;
}

.block.secondary .sub-heading,
.block.secondary p {
  color: rgba(255, 255, 255, 0.8);
}

.block.light {
  background-color: #fff;
  color: #525252;
}

.block.dark {
  background-color: #525252;
  color: #fff;
}

.block.no-padding .header,
.block.no-padding .content,
.block.no-padding .footer {
  padding: 0.5rem 0;
}

.block.no-border {
  border: 0;
}

.block .header,
.block .content,
.block .footer {
  padding: 1rem;
}

.block .header {
  padding-bottom: 0;
  font-weight: 400;
}

.block .content {
  font-size: 0.9rem;
}

.block .content > h3{
  font-size: 0.9rem;
}

.card.no-border {
  border: 0;
}

.card.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card.user-card .user-content {
  display: flex;
  align-items: center;
}

.card.user-card .user-content .user-info {
  flex: 1;
}

.card.user-card .user-content .user-info h4 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #006068;
}

.card.user-card .user-content .user-info p {
  font-size: 0.8rem;
  color: #525252;
  font-weight: 400;
  margin-bottom: 0;
}

.card.user-card .rating-price {
  flex: 1;
  text-align: right;
  padding-left: 10px;
  color: #525252;
}

.card .card-title {
  font-weight: 700;
  font-size: 1rem;
  color: #006068;
}

.list-group .list-group-item {
  border: 0;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
}

.list-group .list-group-item:last-child {
  border: 0;
}

.btn-check {
  display: inline-block;
}

.btn-check input {
  display: none;
}

.btn-check input:checked + label.checked-primary {
  background-color: #006068;
  color: #fff;
}

.btn-check input:checked + label.checked-secondary {
  background-color: #00da9a;
  color: #fff;
}

.btn-check input:checked + label.checked-warning {
  background-color: #f9bb01;
  color: #fff;
}

.accordion .card {
  border-radius: 0;
  border: 0;
  border-top: 1px solid rgba(82, 82, 82, 0.1);
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
}

.accordion .card:first-child {
  border-top: 0;
}

.accordion .card .card-header {
  border-bottom: 0;
  background-color: transparent;
  padding: 0;
}

.accordion .card .card-header a {
  position: relative;
  display: block;
  padding: 1rem 0;
  font-size: 1rem;
  color: #006068;
  font-weight: 700;
}

.accordion .card .card-header a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  font-weight: 800;
  font-size: 0.9rem;
  right: 10px;
  top: 15px;
  position: absolute;
}

.accordion .card .card-header a.collapsed::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: 800;
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  top: 15px;
}

.accordion .card .card-body {
  padding: 0 0 1rem 0;
  font-size: 0.9rem;
}

.accordion .card:last-child {
  border-bottom: 0;
}

.style-3::-webkit-scrollbar-track {
  border-radius: 20px;
}

.style-3::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.style-4::-webkit-scrollbar-track {
  background-color: rgba(82, 82, 82, 0.1);
  border-radius: 20px;
}

.style-4::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

.style-4::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.section-wrap {
  padding: 4rem 0;
}

.section-wrap.app-header {
  padding: 0;
}

.logo {
  max-width: 200px;
}

.app-header {
  height: 600px;
  position: relative;
}

.app-header::after{
    position: absolute;
    content: "";
    background-image: url(https://axajvrynho.cloudimg.io/v7/https://www.localheroesonline.com/assets/logo_efro.jpg);
    width: 140px;
    height: 140px;
    left: 30px;
    bottom: 50px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-header .header-mob {
  max-width: 530px;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

.app-header .header-content {
  max-width: 400px;
  color: #006068;
  margin-top: 9rem;
  font-weight: 500;
}

.app-header .header-content h1.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 1rem;
}

.app-header .action-btns {
  margin-top: 1rem;
  display: flex;
  max-width: 500px;
}

.app-header .action-btns a {
  flex: 1;
  text-align: center;
  margin-left: 1rem;
}

.app-header .action-btns a:first-child {
  margin-left: 0;
}

@media (max-width: 576px) {
  .app-header.app-header {
    height: auto;
  }
  .app-header.app-header .action-btns {
    flex-wrap: wrap;
  }
  .app-header.app-header .action-btns a {
    margin-left: 0;
    flex: 100%;
  }
}

@media (max-width: 767px) {
  .app-header.app-header {
    height: auto;
  }
  .app-header.app-header .header-content {
    margin-top: 0rem;
  }
  .app-header.app-header .header-content .header-title {
    margin-top: 1rem;
  }
  .app-header.app-header .action-btns {
    flex-wrap: wrap;
  }
  .app-header.app-header .action-btns a {
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 992px) {
  .app-header.app-header {
    height: auto;
  }
  .app-header.app-header .action-btns {
    flex-wrap: wrap;
  }
  .app-header.app-header .action-btns a {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.how-work .hw-block {
  max-width: 260px;
  margin: 1rem auto;
  text-align: center;
  color: #f1edea;
}

.how-work .hw-block img {
  width: 80px;
}

.how-work .hw-block .title {
  font-weight: 500;
}

.video-wrap {
  background-color: #f1edea;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;  
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

.local-hero {
  padding-bottom: 0;
}

.local-hero .our-hero-content {
  max-width: 500px;
  color: #006068;
}

.local-hero .our-hero-content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #006068;
  font-weight: 500;
}

.local-hero .hero-block {
  max-width: 400px;
  position: relative;
  bottom: -9px;
}

.slick-carousel {
  margin: 0 auto;
  max-width: 1200px;
  z-index: 2;
}

@media (max-width: 576px) {
  .slick-carousel {
    max-width: 300px;
  }
}

/* The width of each slide */
.slick-slide {
  width: 300px;
  text-align: center;
}

.slick-slide:focus {
  outline: none;
  border: 0;
}

/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
  color: #fdfdfd;
}

.section-our-heroes {
  position: relative;
  background-color: #f1edea;
  z-index: 0;
  min-height: 640px;
}

.section-our-heroes::before {
   position: absolute;
    content: "";
    background-color: #006068;
    left: 0;
    right: 0;
    height: 420px;
    bottom: 0;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    z-index: 1;
}
.section-our-heroes::after {
    position: absolute;
    content: "";
    background-color: #00dc9b;
    left: 0;
    right: 0;
    height: 420px;
    bottom: 40px;
    clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 0;
}

.section-our-heroes .heroes-wapper .slide-item .hero-img {
  max-width: 234px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  height:234px;
}

.section-our-heroes .heroes-wapper .slide-item .content{
  min-height: 65px;
}
.section-our-heroes .heroes-wapper .slide-item .content p {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  padding: 0rem;
  color: #f1edea;
}

@media (max-width: 576px) {
  .section-our-heroes {
    min-height: 520px;
  }
  .section-our-heroes.section-our-heroes::before {
        height: 270px;
    bottom: 30px;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
  .section-our-heroes.section-our-heroes::after {
           height: 300px;
    bottom: 40px;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.features {
  padding-bottom: 0;
  height: 460px;
  position: relative;
}

.features .features-content {
  margin-top: 0rem;
}

.features .additional-info {
  margin-top: 3rem;
  max-width: 400px;
}

.features .additional-info ul li {
  display: flex;
  align-items: center;
  
  padding: 0.5rem 0;
}

.features .additional-info ul li img {
  width: 20px;
  margin-right: 1rem;
}

.features .additional-info ul li h3 {
  flex: 1;
  color: #006068;
  font-weight:bold;
}

.features .additional-info ul li:last-child {
  border-bottom: 0;
}

.features .feature-mob {
  max-width: 330px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  right: 20%;
}

.features .feature-mob img {
  vertical-align: bottom;
}

.features::before {
  content: "";
  background-image: url(https://axajvrynho.cloudimg.io/v7/https://www.localheroesonline.com/assets/home/feature-bg.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 847px;
  bottom: 0;
  z-index: 0;
  height: 120px;
}

@media (max-width: 767px) {
  .features.features {
    height: auto;
  }
  .features.features .feature-mob {
    position: unset;
    max-width: 250px;
    margin-top: 1rem;
  }
}

.map {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.map::before {
  content: "";
  background-image: url(https://axajvrynho.cloudimg.io/v7/https://www.localheroesonline.com/assets/home/map.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.map .map-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.map .map-content .btn-check{
  margin-top: 2.3rem;
}

.map .map-content .zip-block {
  position: relative;
}

.map .map-content .zip-block .form-control {
  position: relative;
  height: 40px;
  border-radius: 20px;
}

.map .map-content .zip-block .form-control:focus {
  border-color: #006068;
}

.map .map-content .zip-block .search-icon {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  width: 40px;
}

.map .map-content .info-block {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 2px #ddd;
}

.section-reviews .review-block {
  margin-bottom: 1rem;
}

.section-reviews .review-block h2.subject {
  font-weight: 700;
  font-size: 1.3rem;
}

.section-reviews .review-block p {
  color: rgba(255, 255, 255, 0.5);
  margin: 1rem 0;
}

.section-reviews .review-block .rating a {
  color: #ffcffa;
}

.section-reviews .review-block .rating a.active {
  color: rgba(255, 255, 255, 0.5);
}


.app-footer {
  background-color: #f0ede9;
  position: relative;
}

.app-footer .footer-links a {
  color: #035f68;
}

.app-footer .copyright {
  text-align: center;
}


@media screen and (max-width: 768px) {
  .app-footer .footer-links {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.app-footer .social-icons a {
  background-color: #035f68;
  color: #f0ede9;
}

.app-footer .copyright {
  color:  #035f68;
  font-weight: 400;
}

.app-footer .copyright a {
  color: #f0ede9;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .app-footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 0.937rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
      background-color: #035f68;
    color: #f0ede9;
}

.social-icons a:hover {
  color: #f0ede9 !important;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a.linkedin:hover {
  background-color: #0076b7;
}

.social-icons a.twitter:hover {
  background-color: #60b8ff;
}

.social-icons a.facebook:hover {
  background-color: #3d53a9;
}

.social-icons a.instagram:hover {
  background-color: orange;
}

.social-icons a.email:hover {
  background-color: #ec5744;
}

.social-icons a.whatsapp:hover {
  background-color: #36cf4b;
}

@media (max-width: 768px) {
  .social-icons {
    margin: 1rem 0;
  }
}

.europese-unie-logo {
  width: 105px;
  margin-left: auto;
  display: inherit;
}

@media (max-width: 768px) {
  .europese-unie-logo {
    width: 50px;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}


.timing-hours li {
  padding: 0.4rem 0;
}

.timing-hours li span {
  float: right;
  font-weight: 500;
}

.profile-banner {
  height: 300px;
}

.profile-banner .banner-content {
  z-index: 3;
  position: absolute;
  align-items: center;
  bottom: -50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 125px;
}

.profile-banner .banner-content .profile-card {
  max-width: 600px;
  display: flex;
}

.profile-banner .banner-content .profile-card .profile-img {
  width: 160px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 5px solid #fff;
  overflow: hidden;
  height: 160px;
}

.profile-banner .banner-content .profile-card .content {
  flex: 1;
}

@media (max-width: 576px) {
  .profile-banner.profile-banner {
    height: 200px;
  }
  .profile-banner.profile-banner .banner-content {
    padding: 15px;
    bottom: 0px;
  }
  .profile-banner.profile-banner .banner-content .profile-img {
    width: 60px;
    height: 60px;
  }
}

.product-list .items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(82, 82, 82, 0.2);
  cursor: pointer;
}

.product-list .items.hover {
  background-color: #f1edea;
}

.product-list .items:last-child {
  border-bottom: 0;
}

.product-list .items .product-details {
  display: flex;
}

.product-list .items .product-details .product-img {
  margin-right: 2rem;
  width: 75px;
  height: 75px;
  border-radius: 25%;
  border: 1px solid #f1edea;
}

.product-list .items .product-details .product-info h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #006068;
}

.product-list .items .product-details .product-info p {
  font-size: 0.8rem;
  color: rgba(82, 82, 82, 0.5);
}

.product-list .items .product-pricing {
  font-weight: 500;
  font-size: 1rem;
}

/* updated on 15 04 2021 */
/* PAGE: B2B */
.page-b2b .b2b-section {
  padding: 5rem  0;
}

.page-b2b .b2b-section-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.4rem;
  line-height: 40px;
}

.page-b2b p {
  font-size: 0.9rem;
}

.page-b2b .b2b-header {
  height: 450px;
  padding-top: 1rem;
}

.page-b2b .b2b-header .content {
  padding-left: 4.5rem;
  padding-right: 2rem;
}

.page-b2b .increase-sales .card-group-img {
  max-width: 380px;
}

.page-b2b .more-customers .map-marker-group-img {
  max-width: 320px;
  margin: 0 auto;
}

.page-b2b .fast-delivery {
  position: relative;
  height: 685px;
}

.page-b2b .fast-delivery .content {
  max-width: 400px;
  margin: 0 auto;
}

.page-b2b .fast-delivery::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://axajvrynho.cloudimg.io/v7/https://www.localheroesonline.com/assets/b2b/localheroes-bg.png);
}

@media(max-width:767px){
  .page-b2b .fast-delivery {
    height:auto;
  }

}

.page-b2b .b2b-how-work .b2b-hw-block {
  max-width: 300px;
  margin: 1rem auto;
  text-align: center;
}

.page-b2b .b2b-how-work .b2b-hw-block img {
  width: 100px;
}

.page-b2b .b2b-how-work .b2b-hw-block h4 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #006068;
}

.page-b2b .b2b-how-work .b2b-hw-block p {
  font-size: 0.9rem;
  color: #006068;
}

.page-b2b .marketing-together {
  height: 520px;
}

.page-b2b .marketing-together .flyer-img {
  max-width: 500px;
}

.page-b2b .registration .vendor-img {
  max-width: 250px;
  margin: 1rem auto;
  text-align: center;
}

.page-b2b .registration .vendor-img p {
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .page-b2b .b2b-section-title{
    margin-bottom: 1rem;
  }
  .page-b2b.page-b2b .b2b-section {
    padding: 4rem  0;
  }
  .page-b2b.page-b2b .b2b-header {
    height: auto;
    padding-top:0;
  }
  .page-b2b.page-b2b .b2b-header .content {
    padding: 0;
  }
  .page-b2b.page-b2b .increase-sales .card-group-img {
    margin-top: 2rem;
  }
  .page-b2b.page-b2b .more-customers .map-marker-group-img {
    margin-top: 2rem;
    max-width: 200px;
  }
  .page-b2b.page-b2b .fast-delivery::before {
    background-position: 90%;
  }
  .page-b2b.page-b2b .marketing-together {
    height: auto;
  }
  .page-b2b.page-b2b .marketing-together .flyer-img {
    max-width: 300px;
    margin: 2rem auto;
  }
}

/* END OF B2B */
/* POLICY PAGE */
.page-policy .policy-section {
  padding: 4rem 0;
}

.page-policy .section-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 45px;
}

.page-policy p {
  font-size: 0.9rem;
}

.page-policy .policy-header {
  padding-top: 1rem;
  position: relative;
}

.page-policy .policy-header .content {
  padding-left: 4.5rem;
  padding-right: 2rem;
  max-width: 600px;
  z-index: 1;
  position: relative;
}

.page-policy .policy-header .map-marker-group {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 4rem;
}

@media (max-width: 576px) {
  .page-policy .policy-header.policy-header {
    padding-top: 0;
  }
  .page-policy .policy-header.policy-header .content {
    padding: 0;
  }
}

.page-policy .how-work {
  position: relative;
}

.page-policy .how-work .oval-block {
  position: relative;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-policy .how-work .oval-block::before {
  content: "";
  background: #ff4934;
  left: 0;
  width: 500px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.page-policy .how-work .oval-block::after {
  content: "";
  right: 0;
  z-index: 0;
  background: #f1edea;
  width: 500px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.page-policy .how-work .oval-block .oval-content {
  position: relative;
  z-index: 2;
}

.page-policy .how-work .oval-block .oval-content h4 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.page-policy .how-work .oval-block .oval-content p {
  font-size: 0.8rem;
}

.page-policy .how-work .oval-block .oval-content.local-hero {
  background-color: #fff;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #006068;
  flex-direction: column;
  padding: 0.6rem;
  text-align: center;
}

.page-policy .how-work .oval-block .oval-content.local-hero img {
  max-width: 150px;
}

.page-policy .how-work .oval-block .oval-content.entrepreneurs, .page-policy .how-work .oval-block .oval-content.customers {
  width: 240px;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem;
}

.page-policy .how-work .oval-block .oval-content.entrepreneurs img, .page-policy .how-work .oval-block .oval-content.customers img {
  max-width: 100px;
}

.page-policy .how-work .oval-block .oval-content.customers {
  color: #006068;
  padding: 0.6rem;
}

.page-policy .how-work .oval-block .oval-content.customers h4 {
  color: #006068;
}

.page-policy .how-work .oval-block .oval-content.customers p {
  color: #006068;
}

@media (max-width: 767px) {
  .page-policy .how-work.how-work .oval-block {
    flex-direction: column;
    height: 800px;
  }
  .page-policy .how-work.how-work .oval-block::before {
    left: unset;
    top: 0;
    width: 300px;
    height: 500px;
  }
  .page-policy .how-work.how-work .oval-block::after {
    right: unset;
    bottom: 0;
    top: unset;
    width: 300px;
    height: 500px;
  }
}

.page-policy .policy-section-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.4rem;
  line-height: 40px;
}

.page-policy .registration .vendor-img {
  max-width: 250px;
  margin: 1rem auto;
  text-align: center;
}

.page-policy .registration .vendor-img p {
  font-size: 0.9rem;
}

/* END OF POLICY */

/* PAGE: THANK YOU REGISTRATION */
.page-thankyou .thankyou-header-mob{
  max-width: 450px;
  margin-top: 1rem;
}


.category-tabs {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  border-bottom: 1px solid rgba(82, 82, 82, 0.2);
}

.category-tabs .tab-item {
  padding: 1rem 0;
  margin-right: 1.4rem;
  border-bottom: 3px solid transparent;
  color: rgba(82, 82, 82, 0.7);
  font-weight: 400;
}

.category-tabs .tab-item.active {
  border-color: #006068;
  color: #006068;
  font-weight: 700;
}

@media (max-width: 576px) {
  .category-tabs.category-tabs {
    white-space: nowrap;
    overflow-x: auto;
  }
}

.product-img-wapper {
  width: 100%;
}

.product-img-wapper .product-img {
  height: 500px;
  object-fit: scale-down;
}

@media (max-width: 576px) {
  .product-img-wapper.product-img-wapper .product-img {
    height: 200px;
  }
}

/* .b2b-section {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.b2b-section .b2b-img {
  max-width: 350px;
  margin: 0 auto;
}

.b2b-section .b2b-title {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  color: #006068;
  font-weight: 700;
}

.b2b-section p {
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.b2b-section p:last-child {
  margin-bottom: 0;
}

.b2b-section .content {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.b2b-section .b2b-steps {
  max-width: 250px;
  text-align: center;
  margin: 1rem auto;
}

.b2b-section .b2b-steps img {
  width: 60px;
  margin-bottom: 1rem;
}

.b2b-section .b2b-steps h4 {
  font-weight: 500;
  font-size: 1rem;
  color: #006068;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .b2b-section.b2b-section {
    padding: 50px 0;
  }
  .b2b-section.b2b-section .b2b-img {
    margin-top: 3rem;
  }
} */

.blog-wrap .blog-item {
  display: flex;
  padding: 1.4rem 0;
  border-bottom: 1px solid rgba(82, 82, 82, 0.2);
}

.blog-wrap .blog-item:last-child {
  border-bottom: 0;
}

.blog-wrap .blog-item .blog-img {
  width: 200px;
  border: 1px solid #f1edea;
  margin-right: 1rem;
  /* height: 200px; */
}

.blog-wrap .blog-item .blog-content {
  flex: 1;
}

.blog-wrap .blog-item .blog-content .written-by {
  font-size: 0.9rem;
  color: #525252;
}

.blog-wrap .blog-item .blog-content .blog-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: #006068;
}

.blog-wrap .blog-item .blog-content p {
  font-size: 0.9rem;
  color: #525252;
  font-weight: 400;
  color: rgba(82, 82, 82, 0.5);
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .blog-wrap.blog-wrap .blog-item .blog-img {
    width: 100px;
    height: 100px;
  }
  .blog-wrap.blog-wrap .blog-item .written-by {
    font-size: 0.9rem;
  }
  .blog-wrap.blog-wrap .blog-item .blog-title {
    font-weight: 700;
    font-size: 1rem;
  }
  .blog-wrap.blog-wrap .blog-item p {
    font-size: 0.8rem;
  }
}

.search-category {
  display: flex;
}

.search-category li {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.category-card {
  margin-bottom: 1rem;
}

.top-buffer {
  margin-top: 20px;
}
