// FOOTER
.app-footer {
  background-color: $base-color;
  position: relative;
  .footer-links {
    a {
      color: $primary-color;
    }
    @include tablet {
      text-align: center;
    }
  }
  .copyright {
    color: $bg-color;
    font-weight: font-weight(regular);
    .copy{
      color:$base-color;
      text-align: center;
    }
    a {
      color: $base-color;
      font-size: font-size(xs);
    }
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .social-icons {
    a {
      background-color: $primary-color;
      color: $base-color;
    }
  }
  &-dark {
    position: relative;
    background-color: $primary-color;

    &::before {
      content: "";
      position: absolute;
      clip-path: polygon(0 74%, 100% 0, 100% 100%, 0 100%);
      top: -30px;
      height: 30px;
      width: 100%;
      background-color: #ffcffa;
      width: 100%;
      // top: -10px;
      // transform: skewY(-2deg);
    }
    a {
      color: $base-color;
    }
    .footer-links {
      a {
        color: $bg-color;
        margin-bottom: 0.5rem;
        font-size: font-size(md);
        font-weight: font-weight(regular);
        &:hover {
          color: $light-color;
        }
      }
      @include tablet {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    .social-icons {
      a {
        background-color: $base-color;
        color: $primary-color;
      }
    }
  }
}

// SOCIAL ICONS
.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: font-size(sm);
    margin-right: 0.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    &:hover {
      color: $bg-color !important;
    }
    &:last-child {
      margin-right: 0;
    }
    &.linkedin {
      &:hover {
        background-color: #0076b7;
      }
    }
    &.twitter {
      &:hover {
        background-color: #60b8ff;
      }
    }
    &.facebook {
      &:hover {
        background-color: #3d53a9;
      }
    }
    &.instagram {
      &:hover {
        background-color: orange;
      }
    }
    &.email {
      &:hover {
        background-color: $danger-color;
      }
    }
    &.whatsapp {
      &:hover {
        background-color: #36cf4b;
      }
    }
  }
  @include tablet {
    margin: 1rem 0;
  }
}

// LOGO
.europese-unie-logo {
  width: 105px;
  margin-left: auto;
  display: inherit;
  @include tablet {
    width: 50px;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}
