.hero-tab {
  transition: all 0.3s ease-out;
  a {
    font-weight: font-weight(bold);
    font-size: font-size(xs);
    margin-bottom: 0.5rem;
  }
  @include tablet {
    margin-bottom: 1rem;
    flex-direction: row !important;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;

    &.on-scroll-fixed-tab {
      transition: all 0.3s ease-out;
      position: fixed;
      z-index: 1999;
      background-color: $base-color;
      top: 26%;
      left: 0;
      right: 0;
      padding: 0 2rem;
    }
  }
}

.hero-tab-wapper {
  @include mobile {
    &.sticky-tab-mobile {
      position: sticky;
      top: 180px;
      z-index: 9;
      background-color: #f0ede9;
    }
  }
}
