<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "nl" }}">

{% include head_vendor.html %}

{% if site.mixpanel-project-token and site.mixpanel-api-host %}
<script type="text/javascript">
    mixpanel.track("Visit Referral Promo Code", {
        "Referral Promo Code": "{{page.referral_promo_code}}",
        "Owner Name": "{{page.referral_owner_name}}",
        "Points": "{{page.referral_points}}",
    });
</script>
{% endif %}

<script type="text/javascript">
// Function to fill in the promo code receiver name
function fillPromoCodeReceiverName() {
  // process params
  var urlParams = new URLSearchParams(window.location.hash.slice(1));
  var promoCodeReceiverName = '';

  // Check if promo_code_receiver exists in the parameters
  if (urlParams.has('promo_code_receiver')) {
    console.log(promoCodeReceiverName);
    promoCodeReceiverName = urlParams.get('promo_code_receiver');
    document.getElementById('promo_code_receiver').innerHTML = promoCodeReceiverName;
  };
}
</script>

<body onload="fillPromoCodeReceiverName()">
<body>
    {% include navbar_product.html %}
    
    {{ content }}

    {% include footer_dark.html %}
</body>
</html>