<!-- MAIN CONTENT -->
<main class="main-content skin-base page-product">  
    <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-5">
                   <div class="product-image-box">
                    <div class="rating-vote d-none d-md-flex justify-content-center">
                        <div class="rating ft-primary">
                            <span><i class="fa fa-thumbs-up"></i></span>
                            {{ page.rating }}
                        </div>
                        <div class="vote">
                            {{ page.rating_count }} Stemmen
                        </div>   
                    </div>
                    <div class="product-img">
                        <img src="{{ site.cloudimg }}{{page.product_image}}?width=600" class="img-fluid" alt="{{page.product_name}}">
                    </div>
                </div>
                <div class="accordion accordion-ingridents d-none d-md-block" id="accordionExample">
                    <div class="card">
                        <div class="card-header" >
                            <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Product Details
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="ingridents-list">
                                    <li>Type <span>{{ page.product_type }}</span></li>
                                    <li>Hoeveelheid <span>{{ page.product_unit }}</span></li>
                                    <li>Prijs/Kg <span>€ {{ page.kg_price }}</span></li>
                                    <li>BTW	<span>{{ page.vat }} %</span></li>
                                    <li>Prijs <span>{{ page.product_price }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-sm-12 col-md-7 product-details-wapper">
               <div class="product-details">
                    <div class="product-info">
                        <h3>{{ page.product_name }}</h3>
                        {% if (page.product_details == '1 stuk') or (page.product_details == 'per stuk') %}
                        <p class="price-n-stock">per stuk | 
                        {% else %}
                        <p class="price-n-stock">{{ page.product_details }} | 
                        {% endif %}

                        {% if page.product_stock_status=='Out_stock' %}
                        <span class="status out-stock disabled">Niet op voorraad</span>
                        {% else %}
                        <span class="status in-stock">Op voorraad</span>
                        {% endif %}
                        <span class="price">€ {{ page.product_price }}</span></p>
                    </div>
                    <div class="product-info-mobile">
                        <div class="name-stock">
                            <h3>{{ page.product_name }}</h3>
                            {% if page.product_stock_status=='Out_stock' %}
                            <span class="status out-stock disabled">Niet op voorraad</span>
                            {% else %}
                            <span class="status in-stock">Op voorraad</span>
                            {% endif %}
                        </div>
                        <div class="price-stuk">
                            <h2>€ {{ page.product_price }}</h2>
                            {% if (page.product_details == '1 stuk') or (page.product_details == 'per stuk') %}
                            <span class="ft-sm">per stuk</span>
                            {% else %}
                            <span class="ft-sm">{{ page.product_details }}</span>
                            {% endif %}
                        </div>    
                    </div>
                    <div class="product-description">
                       <p>{{ page.product_information }}</p>
                    </div>
                    <div class="accordion accordion-ingridents d-block d-md-none" id="accordionExample">
                        <div class="card">
                            <div class="card-header" >
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Product Details</a>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="ingridents-list">
                                        <li>Type <span>{{ page.product_type }}</span></li>
                                        <li>Hoeveelheid <span>{{ page.product_unit }}</span></li>
                                        <li>Prijs/Kg <span>{{ page.kg_price }}</span></li>
                                        <li>BTW	<span>{{ page.vat }} %</span></li>
                                        <li>Prijs <span>{{ page.product_price }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="place-order">
                       <a href="" onclick="DetectAndServe('{{page.name}}')" class="v-btn v-btn-tertiary place-order-btn"><i class="fas fa-download"></i><span>Bestellen</span></a>
                       <p class="small ft-tertiary">Voor 15:00 besteld, vandaag in huis.</p>
                    </div>
                    <h1 class="mb-3 ft-primary pp-title">Populaire producten</h1>
                    <div class="content popular-product-list hidden-xs">
                        {% for item in site.data.hero-products %}
                        {% if item.vendor_shop_name == page.vendor_shop_name %}
                        <div class="product-card-sm product-list-item">
                            <div class="rating-vote">
                                <div class="rating small">
                                    <span><i class="fa fa-thumbs-up"></i></span>
                                    {{ item.rating }}%
                                </div>  
                            </div>
                            <div class="product-card-img">
                                <img src="{{ site.cloudimg }}{{ item.product_image }}?width=110" alt="{{ item.product_name }}">
                            </div>
                            <div class="product-card-content">
                                <h4>{{ item.product_name }}</h4>
                                <div class="stuk-price">
                                    {% if (item.product_details == '1 stuk') or (item.product_details == 'per stuk') %}
                                    <span class="stuk">per stuk</span>
                                    {% else %}
                                    <span class="stuk">{{ item.product_details }}</span>
                                    {% endif %}
                                    <span class="price">€ {{ item.product_price }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="content product-list-mobile">
                        {% for item in site.data.hero-products %}
                        {% if item.vendor_shop_name == page.vendor_shop_name %}
                        <a href="{{ site.url }}/p/{{ item.vendor_url }}/{{ item.product_url }}" class=""></a>
                            <div class="product-list-mobile-item product-card-mobile">
                                <div class="product-img">
                                    <img src="{{ site.cloudimg }}{{ item.product_image }}?width=110" class="img-fluid" alt="{{ item.product_name }}">
                                </div>
                                <div class="product-content">
                                    <h4>{{ item.product_name }}</h4>
                                    {% if (item.product_details == '1 stuk') or (item.product_details == 'per stuk') %}
                                    <p class="stuk">per stuk</p>
                                    {% else %}
                                    <p class="stuk">{{ item.product_details }}</p>
                                    {% endif %}
                                    {% if item.product_stock_status == "Out_stock" %}
                                    <span class="status out-stock disabled">Niet op voorraad</span>
                                    {% endif %}
                                </div>
                                <div class="price-rating">
                                    <span class="price">€ {{ item.product_price }}</span>
                                    <div class="rating">
                                        <span class="icon icon-sm"><i class="fa fa-thumbs-up"></i></span> {{ item.rating }}
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
               </div>
           </div>
        </div>
    </div>
</main>